name: Add new entry

on:
  workflow_dispatch:
    inputs:
      date:
        description: Date
        required: true
        default: today
        type: string
      style:
        description: Style
        required: true
        type: choice
        default: Advanced incline
        options:
          - Wall
          - Incline
          - Advanced incline
          - Knee
          - Full
      set1:
        description: Set 1
        required: true
        type: string
      set2:
        description: Set 2
        required: true
        type: string
      set3:
        description: Set 3
        required: true
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

env:
  TZ: America/Toronto

permissions:
  contents: write

jobs:
  entry:
    name: Add new entry
    runs-on: ubuntu-22.04

    steps:
      - name: Check out code
        uses: actions/checkout@v3.3.0

      - name: Update CSV
        env:
          dateinput: ${{ inputs.date }}
          style: ${{ inputs.style }}
          set1: ${{ inputs.set1 }}
          set2: ${{ inputs.set2 }}
          set3: ${{ inputs.set3 }}
        run: |
          printf '%s,%s,%s,%s,%s\n' \
              "$(date -d "$dateinput" +%F)" "$style" "$set1" "$set2" "$set3" \
              >> _data/pushups.csv

          tmpfile=$(mktemp)

          dates=$(yq -p csv 'map(.Date) | @csv' _data/pushups.csv)
          set1=$(yq -p csv 'map(.["Set 1"]) | @csv' _data/pushups.csv)
          set2=$(yq -p csv 'map(.["Set 2"]) | @csv' _data/pushups.csv)
          set3=$(yq -p csv 'map(.["Set 3"]) | @csv' _data/pushups.csv)

          jq --arg dates "$dates" \
              --arg set1 "$set1" \
              --arg set2 "$set2" \
              --arg set3 "$set3" '
                  .labels = ($dates | split(","))
                  | .datasets[0].data = ($set1 | split(",") | map(tonumber))
                  | .datasets[1].data = ($set2 | split(",") | map(tonumber))
                  | .datasets[2].data = ($set3 | split(",") | map(tonumber))
          ' assets/pushups.json > "$tmpfile" \
              && mv "$tmpfile" assets/pushups.json

          git config --global user.name 'github-actions'
          git config --global user.email \
              '41898282+github-actions[bot]@users.noreply.github.com'

          git add _data/pushups.csv assets/pushups.json
          git commit -m "Update pushup data"
          git push
