name: Process input form

on:
  issues:
    types:
      - opened

jobs:
  process:
    name: Process an input form
    if: contains(github.event.issue.labels.*.name, 'workout')
    runs-on: ubuntu-22.04
    outputs:
      workout: ${{ steps.format.outputs.workout }}

    steps:
      - name: Convert to JSON
        id: convert
        uses: bewuethr/md2json-action@main
        with:
          markdown: ${{ github.event.issue.body }}

      - name: Reformat converted output
        id: format
        env:
          json: ${{ fromJSON(steps.convert.outputs.json) }}
        run: |
          echo "workout=$(jq --compact-output '
              .children
              | map(.children[0].value)
              | . as $in
              | [range(0; $in | length; 2)]
              | map({key: $in[.], value: $in[.+1]})
              | from_entries
          ' <<< "$json")" >> "$GITHUB_OUTPUT"

      - name: Delete issue
        env:
          issue: ${{ github.event.issue.number }}
          GITHUB_TOKEN: ${{ secrets.DELETE_ISSUES_PAT }}
        run: |
          gh issue delete "$issue" --repo "$GITHUB_REPOSITORY" --yes

  entry:
    name: Add new entry
    needs: process
    uses: ./.github/workflows/entry.yml
    with:
      exercise: ${{ fromJSON(needs.process.outputs.workout).Exercise }}
      date: ${{ fromJSON(needs.process.outputs.workout).Date }}
      style: ${{ fromJSON(needs.process.outputs.workout).Style }}
      set1: ${{ fromJSON(format('{0}',
        fromJSON(needs.process.outputs.workout)['Set 1'])) }}
      set2: ${{ fromJSON(format('{0}',
        fromJSON(needs.process.outputs.workout)['Set 2'])) }}
      set3: ${{ fromJSON(format('{0}',
        fromJSON(needs.process.outputs.workout)['Set 3'] || 0)) }}
