name: Add pushups

on:
  workflow_dispatch:
    inputs:
      date:
        description: Date
        required: true
        default: today
        type: string
      style:
        description: Style
        required: true
        type: choice
        default: Advanced incline
        options:
          - Wall
          - Incline
          - Advanced incline
          - Knee
          - Full
      set1:
        description: Set 1
        required: true
        type: string
      set2:
        description: Set 2
        required: true
        type: string
      set3:
        description: Set 3
        required: true
        type: string

jobs:
  entry:
    name: Add new pushup entry
    uses: ./.github/workflows/entry.yml
    with:
      exercise: pushups
      date: ${{ inputs.date }}
      style: ${{ inputs.style }}
      set1: ${{ inputs.set1 }}
      set2: ${{ inputs.set2 }}
      set3: ${{ inputs.set3 }}
